:root {
    --color-background: #121212;
    --color-modal: 77 77 77; /* #4d4d4d */
    --color-surface: 18, 18, 18; /* #121212 */
    --color-error: 207, 102, 121; /* #cf6679 */
    --color-primary: 187, 134, 252; /* #bb86fc */
    --color-primary-variant: #3700b3;
    --color-secondary: #03dac5;
    --color-on-primary: #000000;
    --color-on-secondary: #000000;
    --color-on-background: #ffffff;
    --color-on-surface: 255, 255, 255;
    --color-on-error: #000000;
}

* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    background: var(--color-background);
    color: var(--color-on-background);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    width: 100%;
    height: auto;
    padding: 4rem;
    max-width: 600px; /* increase to allow board to grow larger on larger window */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    aspect-ratio: 1 / 1;

    border: 1px solid var(--color-secondary);
    cursor: pointer;
}

.cell.test {
    background-color: var(--color-primary-variant);
}

.cell.x {
    background-color: blue;
}

.cell.o {
    background-color: red;
}

.disabled {
    pointer-events: none;
}